.thanks {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks h1 {
  color: hsl(213, 96%, 18%);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.thanks p {
  color: hsl(231, 11%, 63%);
  line-height: 1.5;
}
